.header{
    background-color: rgb(213, 186, 239);
    text-align: center;
    color: rgb(22, 61, 100);
}

.header h{
    font-size: 2rem;
    margin-left: 3rem;
}
.header h2{
    font-size: 30px;
}

.header p{
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form{
    background-color: aliceblue;
    color: black;
    padding: 0 36px 20px 20px;
    border: solid 1px rgb(198, 238, 198);
    margin-bottom: 20px;
    text-align: left;
    margin: 0 20px 30px 30px;

}

img{
    position: absolute;
    border-radius: 15%;
    right: 32px;
   
}
button{
    color: red;
    border-color: rgb(165, 165, 221);
}

